{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 0.2%, not dead"]
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "babel-plugin-transform-inline-environment-variables",
    "babel-plugin-macros"
  ]
}
