rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow read: if true;
      allow write: if false;
    }

    match /boards/{board} {
      function userOwnsBoard() {
        let isAuthed = request.auth != null;
        let isOwner = request.auth.uid == get(/databases/$(database)/documents/boards/$(board)).data.owner;

        return isAuthed && isOwner;
   	 	}

      allow create: if request.auth != null && request.auth.uid == request.resource.data.owner;
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.owner;

      match /categories/{category} {
        allow read: if request.auth != null;
        allow write: if userOwnsBoard();
      }

      match /questions/{question} {
        allow read, write: if userOwnsBoard();
      }
    }
  }
}
